body {
    background-color: #B63F37;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: auto auto auto;
    max-width: 40rem;
    margin: 0 auto;
    min-height: 20rem;
}

main {
    border-radius: 0 0 1rem 1rem;
    grid-row-start: 2;
    grid-column: 1 / 4;
    background-color: #9DCAC7;
}

.to-do {
    margin: .5rem;
    padding: .5rem;
    display: grid;
    border-radius: .4rem;
}

.new-to-do {
    display: grid;
    grid-template-columns: auto max-content;
    /* column-gap: 1rem; */
}

.new-to-do-text {
    border-radius: .4rem 0 0 .4rem;
    margin: .5rem;
    margin-right: 0;
    padding: .5rem;
    padding-right: 1rem;
    background-color: #28655E;
    grid-column-start: 1;
}

#new-to-do-in {
    width: 100%;
    border-radius: .5rem;
    grid-column: 1 / 3;
}

.new-to-do-buttons {
    border: none;
    border-radius: 0 .4rem .4rem 0;
    background-color: #28655E;
    margin: .5rem;
    margin-left: 0;
    padding: .5rem;
    padding-left: .5rem;
    grid-column-start: 2;
}

.new-to-do-buttons:hover {
    background-color: rgb(131, 165, 125);
    box-shadow: inset 2px 2px rgba(255, 255, 255, .6), inset -2px -2px rgba(0, 0, 0, .6);
}

.new-to-do-buttons:focus {
    outline: none;
    box-shadow: inset 2px 2px rgba(255, 255, 255, .6), inset -2px -2px rgba(0, 0, 0, .6);
}

.new-to-do-buttons:active {
    background-color: violet;
    box-shadow: inset -2px -2px rgba(255, 255, 255, .6), inset 2px 2px rgba(0, 0, 0, .6);
}

.to-do {
    background-color: #F1F6F1;
    grid-template-columns: auto max-content;
}

.to-do-p {
    margin: auto 1rem;
}

.to-do-buttons {
    grid-column: 2;
}

.border {
    margin: 1rem;
}

.complete{
    background-color: rgb(139, 139, 139);
}

.complete .to-do-p{
    text-decoration: line-through;
}

header {
    max-height: min-content;
    display: block;
    grid-column: 1 / 4;
    text-align: center;
    background-color: #D6A65E;
    border-radius: 1rem 1rem 0 0;
}

.h1 {
    justify-self: center;
    text-align: center;
}

.add {
    font-size: larger;
    padding: 0;
}

.add:hover {
    fill: white;
}